.navbar {
    overflow: hidden;
    background-color: #DAE8FC;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    font-family: Helvetica;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .logo {
    float: left;
}

.navbar a:hover {
    background-color: #f0932b;
    color: black;
}

.navbar .logo img {
    position: absolute;
    top: 8px;
    width: 45px;

}

.navbar .logo:hover {
    background-color: #DAE8FC;
}


section.about {
    display: block;
    width: 98vw;
    height: auto;
    margin: 5vh 0;
    padding: 5vh 2vw;
}

.about .imageinfo {
    text-align: center;
}

.about .imageinfo img {
    max-width: 20vw;
    height: auto;
}

section.projects {
    width: 100vw;
    padding: 5vh 2vw;
    text-align: center;
}

.projects .project-heading {
    margin-bottom: 2vh;
    text-align: center;
}

.projects .box {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    width: 30vw;
    margin: 2vw 1vw;
    padding: 2vh;
    text-align: center;
}

.projects img{
    max-width: 20vw;
    height: auto;
}


section.study {
    width: 95vw;
    padding: 5vh 2vw;
    text-align: center;
}

.study-heading
 {
    margin-bottom: 2vh;
    text-align: center;
}

.study .education,
.study .certifications {
    display: inline-block;
    width: 45vw;
    vertical-align: top;
    text-align: center;
}

.study img {
    width: 10vw;
    height: auto;
}


section.experience {
    width: 100vw;
    padding: 5vh 2vw;
    text-align: center;
}

.expmain , .exphead {
    margin-top: 2vh;
    text-align: center;
}


section.contact {
    width: 100vw;
    padding: 5vh 2vw;
    text-align: center;
}

.contact .blogs,
.contact .contact-form {
    display: inline-block;
    width: 48vw;
    vertical-align: top;
    text-align: center;
}

.blogs img {
    height: 10vh;
    width: 10vh;
}


form {
    padding: 3vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 1vh 2vw;
    border: none;
    border-radius: 4px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 1vh;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 1vh;
    font-weight: bold;
}


footer {
    background-color: #F8CECC;
    width: 94vw;
    padding: 2vh 2vw;
    text-align: center;
    display: block;
}

footer h2 {
    margin-bottom: 2vh;
}

footer .icons {
    margin-top: 2vh;
    text-align: center;
}
